/*
// $Id$
*/

.sheetview {
  padding-top: 10px;
}

.sheetview table, .sheetview td, .sheetview th {
  padding: 0;
  margin: 0;
  line-height: normal;
}

#tooltip {
  position:absolute;
  border:1px solid #333;
  background:#f7f5d1;
  padding:2px 5px;
  color:#333;
  display:none;
}

